<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>装饰画-Tao,美国整体家居品牌官网</title>

  <!-- Bootstrap -->
  <link href="/js/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
  <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
  <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/css/commission.css">
</head>
<body>
<!--导航-->
<!--<div id="nav"></div>-->
<%-include('nav.ejs')%>
<section class="container bg">
  <div class="row logofar">
    <div class="active-logo  col-lg-12">
      <img src="img/bg-img/logo.png" class="img-responsive center-block" alt="Responsive image">
    </div>
  </div>
  <div class="row bg-color">
    <ul class="submenu nav nav-pills">
      <li class="li-menu">起源</li>
      <li class="li-menu">制造</li>
      <li class="li-menu">客户理念</li>
    </ul>
    <div class="li-menu2"><p> 预约电话：800-820-8099</p></div>
  </div>
</section>
<!--轮播-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="/img/bg-img/banner_img1.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="/img/bg-img/banner_img4.jpg" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="/img/bg-img/large_img.png" alt="...">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--开始定制-->
<div class="container bg2">
  <div class=" row " style="padding:40px 0;">
    <h1 class="title">立刻开始定制</h1>
  </div>
  <div class="img row linian-div">
    <div class="col-lg-4 col-xs-4  div1 center-block">
      <img src="/img/commission/cus_start01.png" alt="">
    </div>
    <div class="col-lg-4 col-xs-4  div1 center-block">
      <img src="/img/commission/cus_start02.png" alt="">
    </div>
    <div class="col-lg-4 col-xs-4  div1 center-block">
      <img src="/img/commission/cus_start03.png" alt="">
    </div>
  </div>
</div>
<!--kaishidingzhi-->
<section class="container bg2">
  <div class=" row ">
    <h1 class="title">选择类别</h1>
  </div>
  <div class="row select">
    <div class="col-lg-6 col-md-6 " style="display: inline-block;text-align: center">
      <ul class="nav-tabs " >
        <li>
          <img class="img-responsive" src="/img/commission/tmp_1502179339774210_Layer%20574.png" alt="">
          <p>卧室</p>
        </li>
        <li>
          <img class="img-responsive click2" src="/img/commission/tmp_1505733731920613_0.jpg" alt="">
          <p>客厅</p>
        </li>
        <li>
          <img class="img-responsive click1" src="/img/commission/tmp_1505292358027623_餐桌.jpg" alt="">
          <p>书房</p>
        </li>
        <li>
          <img class="img-responsive" src="/img/commission/tmp_1506768902828057_品鉴.jpg" alt="">
          <p>储物间</p>
        </li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6  right-box" style="display: inline-block;text-align: center">
      <ul class="  nav-tabs  nav-ul  " >
        <li>
          <img src="/img/commission/tmp_1502185541057240_cd.png" alt="">
          <p>床</p>
        </li>
        <li>
          <a href="/design.html"><img src="/img/commission/tmp_1508227667537205_三人沙发1.png" alt=""></a>
          <p><a  href="/design.html">三人沙发</a></p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227698652705_组合沙发1.png" alt="">
          <p>组合沙发</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227579509572_电视柜1.png" alt="">
          <p>电视柜</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185433459424_zmbj.png" alt="">
          <p>装饰摆件</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227383845805_餐椅.png" alt="">
          <p>桌椅</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185060242724_Chair.png" alt="">
          <p>单人沙发</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227462976486_茶几1.png" alt="">
          <p>茶几</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502196485401742_Vanity.png" alt="">
          <p>梳妆台</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185419132922_dt.png" alt="">
          <p>地毯</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227496571098_床1.png" alt="">
          <p>床</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227629752781_斗柜1.png" alt="">
          <p>柜子</p>
        </li>
      </ul>
      <ul class="  nav-tabs  nav-ul  " >
        <li>
          <img src="/img/commission/tmp_1508405686655689_边几1.png" alt="">
          <p>边几</p>
        </li>
        <li>
          <a href="/design.html"><img src="/img/commission/tmp_1523955468128650_111111.png" alt=""></a>
          <p><a  href="/design.html">沙发床</a></p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508318434260002_恣在好礼icon1.png" alt="">
          <p>礼物</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508297676206678_装饰椅1.png" alt="">
          <p>装饰椅</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1508227539394357_灯饰1.png" alt="">
          <p>灯饰</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185496870408_cp.png" alt="">
          <p>床品</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185470101835_zsz.png" alt="">
          <p>装饰枕</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502185445900524_zszw.png" alt="">
          <p>鲜花</p>
        </li>
        <li>
          <img src="/img/commission/tmp_1502196485401742_Vanity.png" alt="">
          <p>梳妆台</p>
        </li>
      </ul>
    </div>
  </div>
  <div class=" row news-part">
    <div class="col-lg-4 col-md-3 col-sm-3 part-div">
      <img class="part-img" src="/img/commission/news.jpg" alt="">
    </div>
    <div class="col-lg-4 col-md-3 col-sm-3 part-div">
      <dl>
        <dt>让生活变得“随心所欲”</dt>
        <dd>
          <p>
            五一期间，国内著名家具品牌CAMERICH（锐驰）携手在家ZAIJIA走进“设计北京”，以一方“孟菲斯美学空间”全新呈现，传递出生活不一样的美。
          </p>
        </dd>
      </dl>
      <img class="center-block imga" src="/img/commission/more.png" alt="">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 part-div">
      <dl>
        <dt>巴特西，汇聚设计名家，共筑史诗级改造</dt>
        <dd>
          <p>巴特西发电站（Battersea Power Station），一座欧洲曾经最大的砖式建筑以及泰晤士河南岸的著名地标，历经辉煌与沧桑。如今，作为伦敦中心区域最大的重建开发项目，汇聚众多设计名家，共筑史诗级改造！项目中亦能看到国内著名家具品牌锐驰的身影。</p>
        </dd>
      </dl>
      <img class="center-block imga" src="/img/commission/more.png" alt="">
    </div>
  </div>
</section>

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/bootstrap-3.3.7-dist/js/jquery-3.1.1.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="js/commission.js"></script>
<!--<script>-->
  <!--$("#nav").load("nav.ejs")-->
<!--</script>-->
</body>
</html>