<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/egg.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include("nav")%>
<div class="container">
<section id="egg_section">
    <img src="/img/egg/Food8_01.jpg" id="food8_01">
    <p id="food8_01_p">蒸蛋羹看似是再容易不过的家常菜，然而想要做一个完美的蒸蛋：没有早一步，也没有晚一步，细腻、爽滑、鲜嫩，入口后蛋的味道刚刚好。在中餐和日料里都有蒸蛋羹，所不同的是中餐的蛋羹一般先蒸制，再调一些酱汁淋上即可；而日式的盖碗蒸一般会在蛋液中融入其他食材。有时候在吃盖碗蒸的时候，勺子里会冒出一块三文鱼、鳕鱼，或是秋季的银杏，让蒸蛋羹也变得好有趣。</p>
    <h2 id="food8_02_h2">日式盖碗蒸</h2>
    <img src="/img/egg/Food8_02.jpg" id="food8_02">
    <div id="eggpart_1">
        <div><img src="/img/egg/Food8_03.jpg"></div>
        <div id="egg_shicai">
            <h3>食材清单</h3>
            <p>鸡蛋 3个</p>
            <p>海盐 若干</p>
            <p>鱼籽 若干</p>
            <p>料酒 若干</p>
        </div>
        <div id="egg_step">
            <h3>Step.1</h3>
            <p>鸡蛋和清水以1：3的比例打散，一般我会选用在白色或是小玻璃碗中将蛋液打散，这样可以看清蛋黄、蛋白、和清水融合的均匀程度。在蛋液中加入一些盐，紫菜等用来调味，再滴入几滴料酒用来去腥，搅拌均匀即可。</p>
        </div>
        <div><img src="/img/egg/Food8_04.jpg"></div>
        <div><img src="/img/egg/Food8_05.jpg"></div>
        <div id="egg_step">
            <h3>Step.2</h3>
            <p>搅拌好的蛋液表面会带有一层气泡，如果直接入蒸锅，这些气泡会让蒸蛋表面不够光滑完美。于是，我们将蛋液过筛，倒入TAO的小碗中，八分满即可。TAO的这个系列，釉面的色彩和质感都颇具层次感，釉水自然流淌形成的花纹，显得很随性率真。</p>
        </div>
        <div id="step_3">
            <p id="step_3_p">将分装好的蛋液加上小盖碗，或者直接加上锡纸，放入蒸锅隔水蒸。这样可以确保蒸蛋的表面光滑平整，在蒸锅上的时间是8分钟。</p>
        </div>
        <div><img src="/img/egg/Food8_06.jpg"></div>
        <div><img src="/img/egg/Food8_07.jpg"></div>
        <div id="step_3">
            <p id="step_3_p">如果这时候你恰好有一枚新鲜的海胆或鱼籽，就轻轻放在光滑的蛋羹上，然后继续放入蒸锅8分钟即可。海胆的鲜甜会浸入到蛋羹里，这种轻盈微妙的口味，更适合清晨或是餐前来吃。</p>
        </div>
    </div>
    <h3 id="egg_canju">餐具系列</h3>
    <h6 id="egg_canju_h6">Dinnerware collections</h6>
    <img src="/img/egg/Food8_08.jpg" id="food8_02">
    <h3>SAVOR 系列</h3>
    <p id="egg_savor_p">TIPS：Savor系列，产自日本的天草陶石，经1250℃高温烧制而成，结构致密，结实耐用。人工浸泡上墨，浸漫的釉墨透露出洒脱与随性，立体感十足的层叠纹理，于金银交辉的璀璨中，悠然归于宁静。</p>
    <img src="/img/egg/Food8_09.jpg" id="food8_09">
    <p id="Food8_09_p">想起些许年前，觉得蛋羹这事儿不是太容易了吗？于是，第一次就蒸出了一碗黄色的蛋液，怎么也没有凝成爽滑的蛋羹。做饭这件事，从来就是看起来容易，要想做得堪称完美，也确实可能会失败几次。只是别气馁，这正是烹饪的魅力之所在，没有人能随随便便成功，做饭也是。</p>
    <div id="egg_footerimg">
        <div><img src="/img/egg/Food1-10.jpg" id="food1_10"></div>
        <div id="egg_xinxi">
            <h3>任芸丽</h3>
            <p id="meishizuojia">美食作家资深媒体人</p>
            <p>中国味道的研究者融汇美食新知性</p>
        </div>
    </div>
    <p id="egg_lastp">膳食平衡，是健康生活的基础。我们以”食养”之心，专注简单而丰富的健康味道，感知食材、器皿、情感和生活方式的联结。汲取自然能量，回归身心平衡。</p>
</section>
</div>
<%-include("backtop")%>
<%-include("footer")%>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/egg.js"></script>
</body>
</html>