<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/house.css" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%-include("nav")%>
<div class="container">
<section id="egg_section">
    <img src="/img/house/home9_01.jpg" id="food8_01" class="house_gai1">
    <h2 id="food8_02_h2">秋日颂歌 筑日成诗</h2>
    <img src="/img/house/home9_02.jpg" id="food8_02">
    <div id="eggpart_1">
        <div><img src="/img/house/home9_03.jpg"></div>
        <div id="egg_shicai">
            <p class="egg_shicaigai">客厅是聚朋会友的常在，可更活跃一些，在灰色、米色、褐色深沉系列色彩里，黄色银杏树、红色大丽花点亮空间，取色、景于自然，气韵自成。</p>
            <p>业主夫妻特别喜欢大自然，我决定在整体稳重基调之上，从“色、形、态、意”这四个脉络出发，运用一些自然元素营造秋日意向。</p>
            <p>——设计师张潍乔</p>
        </div>
        <div><img src="/img/house/home9_04.jpg" id="home_04"></div>
        <div><img src="/img/house/home9_05.jpg" id="home_05"></div>
        <div><img src="/img/house/home9_06.jpg"></div>
        <div id="huaping">
            <p class="step_3_p1" id="step_3_p1">随心境与季节更迭，给家营造主题，偶尔在林间散步中寻找灵感，不失为充满意趣的家的养成之道。</p>
            <p class="step_3_p1">乔迁新屋恰合收获秋日硕果之意，饰品、灯具可营造不同空间氛围。</p>
            <p class="step_3_p1">以Aspen台灯摄取自然造物之美感。山杨枝干造型巧妙地融于灯体，独具设计感。</p>
            <p class="step_3_p1">泡茶点香，一点点仪式，从酷暑回归秋日的淡泊宁静。</p>
        </div>
        <div id="home_07"><img src="/img/house/home9_07.jpg"></div>
    </div>
    <img src="/img/house/home9_08.jpg" id="home_08">
    <p id="egg_lastp">当我们讨论平衡生活的时候，不免会连带着一些理想化的眼光去解读，或返璞归真，或蕴含极致， “家集”这个栏目将带着生活中不同的可能性去探访一个个真实的故事。</p>
</section>
</div>
<%-include("backtop")%>
<%-include("footer")%>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>