body{
    background-color:  #F6F6F6 ;
}
a{
    text-decoration: none;
    color: #8d7f76;
}
li{
    list-style: none;
}
h1{
    font-size: 13px;
}
.hotDiv{
    height: 100px;
    background-color: white;
}
.allW{
    top: 200px;
    width: 680px;
    color:#8d7f76 ;
    font-size: 9pt;
    letter-spacing: 1px;
    left: 40%;
    position: absolute;
    line-height: 20px;
}
#space>a:hover{
    cursor: pointer;

}
.moveC:hover{
    color: #ceaa78;
}
