*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../img/bg_main.jpg");
    font-family: "Microsoft YaHei UI";
}

hr{
    border: rgba(0, 0, 0, 0.51) 1px solid;
}

/*当前状态*/
.process{
    margin-top: 20px;
    margin-bottom: 15px;
}

/*水晶*/
.sj-lamp{
    height: 646px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-top: 150px;
}
.sj-lamp img{
    width: 1227px;
    height: 646px;
}
.black-ban{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    text-align: center;
}
.black-ban h4{
    color: #c9c3ba;
    line-height: 30px;
}

/*铁艺，铜质，石质灯*/
.three-lamp{
    margin-top: 150px;
    overflow: hidden;
}

.cl-lamp img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*更多材质*/

.more-lamp{
    height: 646px;
    overflow: hidden;
    position: relative;
    margin-top: 150px;
    cursor: pointer;
    margin-bottom: 150px;
}
.more-lamp img{
    width: 1227px;
    height: 646px;
}