*{
    margin: 0;
    padding: 0;
}
body{
    background: url("../img/bg_main.jpg");
    font-family: "Microsoft YaHei UI";
}

hr{
    border: rgba(0, 0, 0, 0.51) 1px solid;
}

/*当前状态*/
.process{
    margin-top: 100px;
    margin-bottom: 15px;
}
.titleNow{
    color: #999087;
    font-size: 12px;
    margin-left: 12px;
}
.red{
    color: red;
}

/*总价*/
#allmoney{
    margin-top: 30px;
    height: 200px;
    background: rgba(42, 171, 210, 0.31);
    text-align: center;
    overflow: hidden;
    border: rgba(128, 128, 128, 0.29) solid 1px;
}
#allmoney span{
    color: red;
}
#allmoney h3{
    margin-top: 80px;
}

/*支付方式*/
#payfs{
    margin-top: 30px;
}
.bank{
    border: rgba(138, 43, 226, 0.25) solid 2px;
    height: 100px;
    margin-bottom: 10px;
    transition: all .1s linear;
    cursor: pointer;
}
.bank:hover{
    border: rgba(138, 43, 226, 0.5) solid 2px;
    transition: all .1s linear;
}
.bank h4{
    margin-left: 20px;
}
.bank .radio-inline{
    margin-left: 20px;
}
.bank img{
    width: 40px;
    height: 40px;
}
.bank span{
    font-weight: bold;
    color: #8c7f76;
}

/*温馨提示*/
#TIPS{
    border-bottom: rgba(0, 0, 0, 0.51) 1px solid;
    margin-top: 50px;
}
#TIPS p{
    color: #8c7f76;
    font-size: 12px;
    padding-bottom: 40px;
}

/*确认支付*/
.phone{
    display: inline-block;
    float: left;
    margin-top: 30px;
    color: #8c7f76;
}
#myconfirm{
    float: right;
    margin-top: 30px;
}

.olotijiao{
    margin-top: 20px;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
    padding-left: 10px;
    padding-right: 10px;
    float: right;
}

.true{
    background: #ceaa78;
    border: none;
    color: white;
}
.true:hover{
    background-color: #ba9a6d;
}


.false{
    background: white;
    color: #9a9a9a;
    border: 1px solid #e4e0dc;
    margin-right: 10px;
}
.false:hover{
    color: #616161;
    border:1px solid #a7a4a1;
}
