*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("/img/bg-img/bgimg.jpg");
}
.bg,.interval{
    margin-top: 70px;
    color: #999188;
}
.banner{
    padding-left: 140px;
    padding-right: 140px;
}
@media (min-width:200px) and (max-width:1300px) {
    .banner{
        padding-left: 80px;
        padding-right: 80px;
    }
}
.interval{
    height: 36px;
}
.dropdown{
    height: 36px;
    /*padding-left: 30px;*/
    /*border: 1px solid red;*/
    line-height: 36px;
    cursor: pointer ;
    margin-bottom: 0;
    z-index: 99;
}
.dropdown li{
    list-style: none;
    opacity: 0;
    visibility: hidden;
}
.dropdown-p{
    /*padding-left: 5px !important;*/
    line-height: 36px;
    margin-bottom: 0;
}
.line{
    height: 0;
    overflow: hidden;
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #fff;
}
.s1{
    text-align: center;
    padding: 0 0 0 40px;
    line-height: 30px;
}
.s1 a{
    width: 56px;
    height: 16px;
    padding-bottom: 6px;
    text-decoration: none;
    color:#999188;
}
.dropdown:hover li{
    background-color: white;
    visibility: visible;
    opacity: 1;
    transition:  0.5s;
}
.dropdown li:hover{
    background-color: #ececec;
}
.dropdown li{
    width: 120px;
    padding: 0 0 0 20px;
    height: 25px;
    line-height: 25px;
    /*border: 1px solid red;*/
    border-left: 1px solid #eaeaea;
    border-right: 1px solid  #eaeaea;
}
.ul-child{
    border-bottom: 1px solid  #eaeaea ;
}
.bg2{
    margin-top: 40px;
    color: #999188;
}
.banner2{
    padding-left: 170px;
    padding-right: 170px;
}
.thumbnail img{
    margin: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.thumbnail {
    border: 0;
}
.caption p{
    line-height: 100%;
    text-align: center;
    margin: 10px 0 0 0;
}
.div-bottom {
    margin-bottom: 30px;
}
.div-bottom img:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: all .3s linear;
}
.thumbnail .caption {
    padding: 9px;
     color: #999188;
}
.caption p:last-child{
    color: #333;
}
.col-sm-4,.col-md-4,.col-lg-4{
    padding-left: 5px;
    padding-right: 5px;
}
a:visited,a:focus{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.a-number{
    width: 25px;
    cursor: pointer ;
    float: left;
    text-align: center;
    color: #3c3c3c;
    text-decoration: none;
}

.number-a{
    background-color: #337AB7;
    color: white;
}
.col-lg-2{
    margin-top: 5px;
    margin-right: 10px;
    width: 225px;
}
.col-lg-1{
    width: 111px ;
}
.btn{
    height: 30px;
    width: 50px;
}
.rowdiv{
    vertical-align: middle;
}
.img-box{
    width: 320px;
    height: 320px;
    margin: 0 auto;
}
.img-box img{
    width: 320px;
    height: 320px;
}